
#infobox {
    position:fixed; 
    display: block;
    top: 0pt;
    left: 0pt;
    
    width: 100%;
    background: black;
    height: 25px;
    z-index: 10;
    overflow:hidden;
    padding-left:10px;
    padding-right:10px;
    /*
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	*/
    
    
    /*
	*/
    box-shadow: 0 0 7px #666;
    -webkit-box-shadow: 0 0 7px #666; 
    -moz-box-shadow: 0 0 7px #666;
}

#infobox .res_value {
	background: #222;
	padding: 3px;
	min-width: 100px;
}
#infobox .resource {
	margin-right: 20px;
}
#infobox .select_planet {
	right: 30px;
	position: absolute;
}