
#login {
    width : 400px;
	padding-bottom: 10px;
	position : absolute;
    top: calc(50% - 172px);
    left: calc(50% - 200px);
    
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
	    background-color : #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#login .form_inc {
    display: block;
	width: calc(100% - 20px);
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 2px;
	
	border-radius: 5px;
	
	
    text-shadow: 0 0 8px #DDD;
    -webkit-text-shadow: 0 0 8px #DDD; 
    -moz-text-shadow: 0 0 8px #DDD; 
}
#login .form_inc:hover {
	
    box-shadow: 0 0 8px #DDD;
    -webkit-box-shadow: 0 0 8px #DDD; 
    -moz-box-shadow: 0 0 8px #DDD; 
}

#login #login_hr {
	margin-top: 42px;
}

#login #loginstatus {
	text-align: center;
	text-decoration: underline;
	
    text-shadow: 0 0 8px #f11;
    -webkit-text-shadow: 0 0 8px #f11; 
    -moz-text-shadow: 0 0 8px #f11; 
}

#login h3 {
    text-align: center;
	
    text-shadow: 0 0 8px #DDD;
    -webkit-text-shadow: 0 0 8px #DDD; 
    -moz-text-shadow: 0 0 8px #DDD; 
}


#errorbox {
	position: absolute;
	width: 300px;
	min-height:	150px;
	top: 45%;
	left: calc(50% - 150px);
	
    box-shadow: 0 0 10px #DDD;
    -webkit-box-shadow: 0 0 10px #DDD; 
    -moz-box-shadow: 0 0 10px #DDD; 

	background-color : #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
	
	border-radius: 14px;
	padding-left:   4px;
	padding-right:  4px;
	padding-bottom: 4px;
}

#errorbox div.errorbox_header{
	margin-bottom: 5px;
	text-align: center;
}