
#consoleCheckboxList{
	padding-bottom: 30px;
}

.consoleCheckbox {
	float: left;
	padding-right: 20px;
}

#console_messages {
	width: 100%;
}

.console_message_time  {
	min-width: 120px;
}

.console_message_content {
	width: 100%;
	word-break: break-all;
}

.log_type_info {
	color: #0F0;
	text-shadow: 0px 0px 20px #070;
}

.log_type_debug {
	color: #6BF;
	text-shadow: 0px 0px 12px #08B;
}

.log_type_error {
	color: #F30;
	text-shadow: 0px 0px 8px #F00;
}

.log_type_sql {
	color: #FF0;
	text-shadow: 0px 0px 20px #BB0;
}
