
#sidebar {
    position:fixed; 
    top: 25px;
    left:0;
    width: 210px;
    background: rgba(0,0,0,0.8);
    height: calc(100% - 25px);
    z-index: 5;
    filter: alpha(opacity=80);
    overflow:hidden;
    
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#sidebar ul.menu_main {
	border-bottom-color: rgba(0,0,0,0.64);
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-radius: 12px;
}
#sidebar ul.menu_main li:first-of-type div:first-of-type {
	border-top-left-radius: 12px !important;
	border-top-right-radius: 12px !important;
}

#sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 210px !important;
	
	
	
}

#sidebar li {
	width: 210px;
}

#sidebar li li.selected{ 
	background-color: rgba(102,102,102,0.64) !important;
	list-style-type: circle !important;
	
	
    box-shadow: 0 0 8px rgba(102,102,102,0.64);
    -webkit-box-shadow: 0 0 8px rgba(102,102,102,0.64);
    -moz-box-shadow: 0 0 8px rgba(102,102,102,0.64); 
}

#sidebar li li:hover  {

	background-color: rgba(68,68,68,0.64);
}

#sidebar li li {
	cursor: pointer;
	border-left-color: rgba(0,0,0,0.64);
	border-left-width: 5px;
	border-left-style: solid;
	
	border-right-color: rgba(0,0,0,0.64);
	border-right-width: 5px;
	border-right-style: solid;
	
	padding-left: 20px;
	width: calc(100% - 30px);
	-webkit-transition:  background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	-ms-transition:  background-color 0.3s ease;
	transition: background-color 0.3s ease;
}

#sidebar li.cat .caption{
	text-align: center;
	background: rgba(0,0,0,0.64);
	width: 210px;
}

#sidebar li.cat li{
}
