
#contentbox {
    display: block;
    margin-top: 90px;
    margin-left: 10pt;
    width: 100%-;
	min-height: calc(100% - 90px);
    padding: 5px;
    
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    background: rgba(0,0,0,0.64);
	
	box-shadow: inset 0px 0px 10px rgba(0,0,0, 1);
    -moz-box-shadow: inset 0px 0px 10px rgba(0,0,0, 1); 
    -webkit-box-shadow: inset 0px 0px 10px rgba(0,0,0, 1);
	
	box-shadow: inset 0px 0px 100px rgba(0,0,0, 1);
    -moz-box-shadow: inset 0px 0px 100px rgba(0,0,0, 1); 
    -webkit-box-shadow: inset 0px 0px 100px rgba(0,0,0, 1);
    
    min-height: 100px;
    
    z-index: 0;
    padding-left:10px;
    
    
}


#session_closed {
    border-radius: 10px;
    position: fixed;
    top: calc(50% - 50px);
    left: calc(50% - 150px);
    min-width: 300px;
    max-width: 30%;
    min-height: 40px;
    
    padding-bottom: 5px;
    background: rgba(0,0,0,0.9);
}

#session_closed div.con_top span{
    display: inline-block;
    vertical-align:middle;
}

#session_closed div.con_top {
    height: 30px;
    padding-top: 5px;
    text-align: center;
    margin: none;
    padding: none;
    background: rgba(0,0,0,0.8);
    border-radius: 102px;
    vertical-align:middle;
    background: rgb(69,72,77);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 60%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(69,72,77,1)), color-stop(60%,rgba(0,0,0,1)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 60%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 60%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 60%);
    background: radial-gradient(ellipse at center,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 60%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 );
}
#session_closed div.con_main {
    padding-left: 10px;
    padding-right: 10px;
}


#message_ticker {
    display: block;
    min-height: 30px;
    width: calc(100% - 40px);
    margin: 20px;
    background-color: rgba(30,30,30,0.4);
    border-radius: 5px;
    
    
    position:relative;
    display:inline-block;
    word-wrap: break-word;
    
    overflow: hidden;
}


#message_ticker table {
    width: 100%;
    border-spacing: 0;
}

#message_ticker thead,
#message_ticker tbody,
#message_ticker tr,
#message_ticker th,
#message_ticker td { 
    display: block;
}

#message_ticker  thead tr {
    /* fallback */
    width: 97%;
    /* minus scroll bar width */
    width: -webkit-calc(100% - 10px);
    width:    -moz-calc(100% - 10px);
    width:         calc(100% - 10px);
}


#message_ticker tr:after {  /* clearing float */
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}


#message_ticker tbody {
    height: 90px;
    overflow-y: auto;
    overflow-x: hidden;
}
#message_ticker tbody td,
#message_ticker thead th {
    float: left;
}

#message_ticker td.mtt_view,
#message_ticker th.mtt_view  {
    width: 70pt !important;
}
#message_ticker td.mtt_date,
#message_ticker th.mtt_date
 {
    width: 90pt !important;
}


#message_ticker tbody td.mtt_msg,
#message_ticker thead th.mtt_msg {
    width: calc(100% - 165pt);
}





#message_ticker table tr td:nth-of-type(3) {
    text-align: center;
}

#message_ticker tr.attack {
    background-color: rgba(150,70,70,0.4);
}
#message_ticker tr.finished {
    background-color: rgba(70,120,70,0.4);
}
#message_ticker tr.arrival {
    background-color: rgba(130,130,70,0.4);
}
#message_ticker tr.message {
    background-color: rgba(70,130,130,0.4);
}
