
#chatbar {
	
    position:fixed; 
    top: 25px;
    right:0;
    width: 210px;
    background: rgba(0,0,0,0.8);
    height: calc(100% - 25px);
    z-index: 5;
    filter: alpha(opacity=80);
    overflow: hidden;

}

#chat_messages {
    overflow: hidden;
}

#chatcontent {
    top: 0;
    left:0;
    width: 100%;
    height: calc(100% - 35pt);
    z-index: 5;
    opacity: 0.8;
    overflow: hidden;
    color: white;
}

#chatcontent .chatbox_message_text {
    word-wrap: break-word;
    max-height: 200px;
    overflow: hidden;
    
}
#chatcontent .chatbox_message_time {
    font-size: x-small;
    font-style: italic;
    text-align: right;
    padding-right: 10px;
}

.chatbox_text {
    padding-left: 2px;
	padding-right: 4px;
}

#chatcontent .chatbox_text:nth-of-type(4n+0)
{
  background: rgba(68,68,68,0.64);
}
#chatcontent .chatbox_text:nth-of-type(4n+1) ,
#chatcontent .chatbox_text:nth-of-type(4n+3) 
{
  background: rgba(34,34,34,0.64);
}

#chatcontent button, 
#chatcontent input[type="text"]  {
    color: white;
}
#chatcontent .chat_type_admin {
    color: #FFA319;
    text-shadow: 0 0 7px #FFA319;
    -webkit-text-shadow: 0 0 7px #FFA319; 
    -moz-text-shadow: 0 0 7px #FFA319; 
}
#chatcontent .chat_type_user {
    color: #DDD;
    text-shadow: 0 0 7px #EEE;
    -webkit-text-shadow: 0 0 7px #EEE; 
    -moz-text-shadow: 0 0 7px #EEE; 
}