@import url("desktop.chat.css");
@import url("desktop.content.css");
@import url("desktop.login.css");
@import url("desktop.sidebar.css");
@import url("desktop.infobox.css");
@import url("desktop.main.css");
@import url("desktop.console.css");
/*
@import url("desktop.chat.css") screen and (min-width: 850px) and (min-device-width:850px);
@import url("desktop.content.css") screen and (min-width: 850px) and (min-device-width:850px);
@import url("desktop.login.css")  screen and (min-width: 850px) and (min-device-width:850px);
@import url("desktop.sidebar.css") screen and (min-width: 850px) and (min-device-width:850px);
@import url("desktop.infobox.css")  screen and (min-width: 850px) and (min-device-width:850px);
@import url("desktop.main.css") screen and (min-width: 850px) and (min-device-width:850px);
@import url("desktop.console.css") screen and (min-width: 850px) and (min-device-width:850px);

@import url("netbook.chat.css") screen and (max-width: 850px);
@import url("netbook.content.css") screen and (max-width: 850px);
@import url("netbook.login.css") screen and (max-width: 850px);
@import url("netbook.sidebar.css") screen and (max-width: 850px);
@import url("netbook.infobox.css") screen and (max-width: 850px);
@import url("netbook.main.css") screen and (max-width: 850px);

@import url("netbook.chat.css") screen and (max-device-width:850px);
@import url("netbook.content.css") screen and (max-device-width:850px);
@import url("netbook.login.css") screen and (max-device-width:850px);
@import url("netbook.sidebar.css") screen and (max-device-width:850px);
@import url("netbook.infobox.css") screen and (max-device-width:850px);
@import url("netbook.main.css") screen and (max-device-width: 850px);
*/


body {
    background-image : url("/img/bg2.jpg");
    background-size:   cover;
    background-repeat: no-repeat;
    color: white;
    margin-bottom: 0px;
    background-attachment:fixed;
    overflow: scroll;
    word-wrap: break-word;
}

#debug {
    color: #fff;
}

.clearfloat {
    clear: both;
}


a , a:hover, a:visited {
    color: lightblue;
}

select option:nth-of-type(4n+0) {
	background: #eee;
}
select option:nth-of-type(4n+2) {
	background: #ccc;
}
select option:nth-of-type(4n+1), 
select option:nth-of-type(4n+3)
{
	background: #ddd;
}
