<div id="chatbox_text_$id$" class="chatbox_text">
    <span class="chatbox_message_name $chat_type$" style="text-decoration: underline;" onclick="">$name$</span>
	<br>
	<div class="chatbox_message_text" style="margin-left: 3pt">
		$message$
    </div>
    <div class="chatbox_message_time">
        $message_time$
    </div>
</div>