<div id="sidebar">
	<img src="img/qgame.png"/>
	<nav>
		<ul id="menu_main" class="menu_main">
		</ul>
	</nav>
</div>
<div id="infobox">
	<span class="resource r1">
		<span class="res_name">Kekse</span> 
		<span class="res_value">100t</span>
	</span>
	<span class="resource r2">
		<span class="res_name">Milch</span> 
		<span class="res_value">30l</span>
	</span>
	<span class="resource r3">
		<span class="res_name">Schokol.</span> 
		<span class="res_value">2t</span>
	</span>
	<span class="resource r4">
		<span class="res_name">Baum.</span> 
		<span class="res_value">2 Stämme</span>
	</span>
	<span class="select_planet">
		Planetenauswahl: <select>
		<option>[1:3:10] Hauptplanet</option>
		<option>[1:3:5] Ableger 1</option>
		<option>[41:5:2] Planet "Am-Arsch-der-Welt"</option>
		<option>[1:3:10] Hauptplanet</option>
		<option>[1:3:5] Ableger 1</option>
		<option>[41:5:2] Planet "Am-Arsch-der-Welt"</option>
		</select>
	</span>
</div>
<div id="contentbox">

	<fieldset>
		<label for="sel_planets">Planetenauswahl:</label>
		<select name="sel_planets" id="sel_planets">
			<option>Hauptplanet | [1:3:10] | 1234 Punkte</option>
			<option>Keks | [1:3:11] | 10 Punkte</option>
			<option>Baum | [2:3:12] | 200 Punkte</option>
		</select>
	</fieldset>
</div>
<div id="chatbar">
	<div id="chatcontent">
		<div id="chat_messages">
		</div>
	</div>
		<form id="chatform">
			<input type="text" id="chatbox_input" style="width:204px;">
		</form>
		<button id="chatbox_but" onclick='onFormSubmit("chatform")' style="width:204px;">Senden</button>
</div>