


<div id="login">
	
	<div id="div_login">
		<form id="loginform">
			<h3>Login</h3>
			<input id="formname" class="form_inc" name="fname" placeholder="Account"/>
			<input id="formpass" class="form_inc" name="fpass" type="password" placeholder="Passwort"/>
		
		</form>
		<button class="form_inc" onclick="onFormSubmit('loginform')">Login</button><br>
		<a style="cursor: pointer;" onclick="$('#div_login').slideUp(300,function() {$('#div_regi').slideDown(300)});">Neu hier? Registriere dir einen Account!</a>
	</div>
	<!--<hr id="login_hr">-->
	<div id="div_regi" style="display: none">
		<h3>Register</h3>
		<form id="registerform">
			<input id="registername" class="form_inc" placeholder="Accountname">
			<input id="registerpass" class="form_inc" type="password" placeholder="Passwort">
			<input id="registerpass2" class="form_inc" type="password" placeholder="Passwort wiederholen">
			<input id="registeremail" class="form_inc" type="email" placeholder="E-Mail">
		</form>
		<button class="form_inc"  onclick='register();'>Registrieren</button><br>
		<a style="cursor: pointer;" onclick="$('#div_regi').slideUp(300,function() {$('#div_login').slideDown(300)});">Zurück zur Anmeldung</a>
	</div>
	<p id="loginstatus"></p>
</div>